<!DOCTYPE html> 
<html> 
<head> 
<title> Example Web App</title> 
<link rel="styleSheet" href="/static/style.css"/> 
</head> 
<body> 
<img src="/static/home.jpg" width="300px" height="300px" alt="SmartHome"/> 
<h1>Status</h1> 
<h3> Counetr Value --> {{counter}}</h3> 
<h2>Counter Control</h2> 
<h3> Counter CNTRL ==> <a href ="/counter1/plus" class="button">TURN +</a> <a href="/counter1/minus" class = "button">TURN -</a></h3>
<h2>Temperature</h2>
<h3> Temperature Value --> {{Temperature}}</h3>
</body> 
</html>
